<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="row">  
    <div class="col-12 col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12">

<!--  <nav class="navbar navbar-expand-sm" style="background-color: rgb(226, 248, 186);">-->
        <nav class="navbar navbar-expand-sm py-0 navbar-dark" style="background-color: rgb(102, 78, 156);">
          <a class="navbar-brand" href="#">&#9742;&nbsp;PhonesList</a>
        
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" routerLink="">Телефоны</a>
              </li>

              <li class="nav-item" ngbDropdown>
                <a class="nav-link" style="cursor: pointer" ngbDropdownToggle id="navbarDropdown2" role="button">
                  Сервис
                </a>
                <div ngbDropdownMenu aria-labelledby="navbarDropdown2" class="dropdown-menu dropdown-menu-right">
          <!--<a class="dropdown-item" href="#" (click)="$event.preventDefault()">Присвоить номер офиса</a>-->
                  <a class="dropdown-item" routerLink="/create">Файлы на сервере</a>
                  <a class="dropdown-item" routerLink="/update">Курсы валют</a>
                  <a class="dropdown-item" routerLink="/mail">Почта</a>
                  <a class="dropdown-item" routerLink="/geoloc">Геолокация</a>
                </div>
              </li>

              <li class="nav-item">
                <a class="nav-link" routerLink="/update">Импорт</a>
              </li>
              
            </ul>
        </nav>
     </div>
  </div>
</div>

  
<router-outlet>
   
</router-outlet>
