<div class="modal-header">
  <strong class="modal-title"><i>Строка ID: {{ Empl.id }}, подразделение: {{ Empl.dptcod }}</i></strong>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form #myForm="ngForm"> 
    <div class="form-group row">
        <label for="phonecity" class="col-sm-3 col-form-label">Телефон (гор.)</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" name="phonecity" class="form-control" [ngModel]="Empl.phone_city" 
             #phonecity="ngModel" placeholder="99-99-99" />
        </div>
    </div>
    <div class="form-group row">
        <label for="phonekspd" class="col-sm-3 col-form-label">Телефон (корп.)</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" name="phonekspd"  [ngModel]="Empl.phone_kspd" #phonekspd="ngModel" 
            pattern="^[0-9]{4,4}$" required placeholder="9999" />
        </div>
    </div>
    <div class="form-group row">
        <label for="fam" class="col-sm-3 col-form-label">Фамилия</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" name="fam" [ngModel]="Empl.fam" #fam="ngModel" 
            placeholder="Фамилия" required />
        </div>
    </div>
    <div class="form-group row">
        <label for="nam" class="col-sm-3 col-form-label">Имя</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" name="nam" [ngModel]="Empl.nam" #nam="ngModel" 
            placeholder="Имя" required/>
        </div>
    </div>
    <div class="form-group row">
        <label for="ptr" class="col-sm-3 col-form-label">Отчество</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" name="ptr" [ngModel]="Empl.ptr" #ptr="ngModel"
            placeholder="Отчество">
        </div>
    </div>
    
    <div class="form-group row">
        <label for="gor" class="col-sm-3 col-form-label">Должность</label>
        <div class="col-sm-8">
            <select class="form-control" name="gor" [(ngModel)]="selDolgnost">
                        <option  *ngFor="let rank of rankList" [value]="rank.dolgnost">
                                    {{rank.dolgnost}}
                        </option>
            </select>
        </div>        
    </div>
    <div class="form-group row">
        <label for="dor" class="col-sm-3 col-form-label">Отдел</label>
        <div class="col-sm-8">
            <select class="form-control" name="dor" [(ngModel)]="selOtdel">
                        <option  *ngFor="let otd of otdList" [value]="otd.otdel">
                                    {{otd.otdel}}
                        </option>
            </select>
        </div>        
    </div>

    <div class="form-group">
            <button type="submit" class="btn btn-primary" [disabled]="!myForm.form.valid" (click)="submit(myForm, selDolgnost)">
                    Сохранить</button>
    </div>    
   </form>
</div>



