<div class="container">
    <div class="row">
      <div class="col-12 col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12"> 
          <br />
        <div class="card border-success">
            <div class="card-header bg-success text-white">
                Найти координаты и отобразить на карте
            </div>
          <div class="card-body">  
                <button class="btn btn-primary" (click)="onNavigate()">Поиск вашего местоположения</button>
          </div>
        </div>      
      </div>
    </div>
</div>